﻿<!-- #layout name=blank -->
<div id="app">
  <div class="page-header">
    <h1 class="title">Sqlite</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a @click="createTableHandle" class="btn green navbar-btn"
        >Create Table</a
      >
      <a
        v-show="selectedRows.length"
        class="btn red navbar-btn"
        @click="onDeleteTable"
        >Delete</a
      >
    </div>
  </div>
  <kb-table :data="tableData" show-select :selected.sync="selectedRows">
    <kb-table-column :label="Kooboo.text.common.name">
      <template v-slot="row">
        <a class="btn btn-link" @click.stop="" :href="getTableDataUrl(row)">
          {{ row }}
        </a>
      </template>
    </kb-table-column>
    <kb-table-column align="right">
      <template v-slot="row">
        <a
          class="btn btn-ms blue"
          @click.stop=""
          :href="getTableColumnsUrl(row)"
        >
          {{ Kooboo.text.common.setting }}
        </a>
      </template>
    </kb-table-column>
  </kb-table>
  <div
    class="modal fade"
    data-backdrop="static"
    data-keyboard="false"
    v-kb-modal="showCreateTableModal"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">
            <i class="fa fa-close"></i>
          </button>
          <h4 class="modal-title">Create table</h4>
        </div>
        <div class="modal-body" v-if="showCreateTableModal">
          <kb-form
            :model="createTableModel"
            :rules="createTableModelRules"
            ref="createTableForm"
          >
            <kb-form-item prop="name">
              <label class="col-md-3 control-label">Table name</label>
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  v-model="createTableModel.name"
                />
              </div>
            </kb-form-item>
          </kb-form>
        </div>
        <div class="modal-footer">
          <button class="btn green" @click="onSaveNewTable">Save</button>
          <button class="btn gray" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="pages/js/main.js"></script>
<script>
  (function() {
    Kooboo.loadJS([
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbForm.js"
    ]);
    var vm;
    new Vue({
      el: "#app",
      data: function() {
        vm = this;
        return {
          breads: [
            {
              name: "SITES"
            },
            {
              name: "DASHBOARD"
            },
            {
              name: "Sqlite"
            }
          ],
          tableData: [],
          selectedRows: [],
          showCreateTableModal: false,
          siteId: Kooboo.getQueryString("SiteId"),

          createTableModel: {
            name: ""
          },
          createTableModelRules: {
            name: [
              { required: Kooboo.text.validation.required },
              {
                min: 1,
                max: 64,
                message: Kooboo.text.validation.maxLength + " 64"
              },
              {
                remote: {
                  url:
                    "/_api/Sqlite/IsUniqueTableName?SiteId=" +
                    Kooboo.getQueryString("SiteId"),
                  data: function() {
                    return {
                      name: vm.createTableModel.name
                    };
                  }
                },
                message: Kooboo.text.validation.taken
              }
            ]
          }
        };
      },
      mounted: function() {
        vm.getTableList();
      },
      methods: {
        onDeleteTable() {
          if (confirm(Kooboo.text.confirm.deleteItems)) {
            if (vm.selectedRows.length > 0) {
              koobooModule.SqliteModel.DeleteTables({
                names: vm.selectedRows
              }).then(function(res) {
                if (res.success) {
                  window.info.done(Kooboo.text.info.delete.success);
                  vm.getTableList();
                }
              });
            }
          }
        },
        getTableDataUrl(name) {
          return koobooModule.recombineUrl(
            koobooModule.getModuleRootPath() + "/pages/Data.html",
            { SiteId: vm.siteId, table: name }
          );
        },
        getTableColumnsUrl(name) {
          return koobooModule.recombineUrl(
            koobooModule.getModuleRootPath() + "/pages/Columns.html",
            { SiteId: vm.siteId, table: name }
          );
        },
        onSaveNewTable() {
          if (vm.$refs.createTableForm.validate()) {
            koobooModule.SqliteModel.CreateTable({
              name: vm.createTableModel.name
            }).then(function(res) {
              if (res.success) {
                vm.getTableList();
                vm.closeCreateTableHandle();
              }
            });
          }
        },
        getTableList() {
          koobooModule.SqliteModel.Tables().then(function(res) {
            if (res.success) {
              vm.tableData = res.model;
            }
          });
        },
        createTableHandle() {
          vm.showCreateTableModal = true;
        },
        closeCreateTableHandle() {
          vm.showCreateTableModal = false;
          vm.revertCreateTableState();
        },
        revertCreateTableState() {
          vm.createTableModel.name = "";
        }
      }
    });
  })();
</script>
