<!-- #layout name=blank -->
<div id="app">
  <div class="page-header">
    <h1 class="title">Data</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a href="javascript:;" class="btn green navbar-btn" :href="createDataUrl"
        >New data</a
      >
      <a
        v-show="selectedRows.length"
        @click="onDelete"
        class="btn red navbar-btn"
        >Delete</a
      >
      <a
        :href="columnsPageUrl"
        v-kb-tooltip:left="Kooboo.text.tooltip.columnSetting"
        class="btn btn-default navbar-btn pull-right"
        ><i class="fa fa-gear"></i
      ></a>
    </div>
  </div>
  <kb-table :data="list" show-select :selected.sync="selectedRows">
    <kb-table-column v-for="item in listKeys" :prop="item" :label="item">
    </kb-table-column>
    <kb-table-column width="100px" align="right">
      <template v-slot="row">
        <a class="btn btn-ms blue" @click.stop="redirectUrl(row)"
          >{{Kooboo.text.common.edit}}</a
        >
      </template>
    </kb-table-column>
  </kb-table>
  <kb-pager
    :page-nr="model.pageNr"
    :total-pages="model.totalPages"
    @change="getData"
  ></kb-pager>

  <div
    class="modal fade"
    data-backdrop="static"
    data-keyboard="false"
    v-kb-modal="showUnableEditConfirm"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">
            <i class="fa fa-close"></i>
          </button>
          <h4 class="modal-title">{{Kooboo.text["sqlex.module"].tips}}</h4>
        </div>
        <div class="modal-body" v-if="showUnableEditConfirm">
          <div class="panel">
            <div style="padding: 20px">
              <h5 class="text-danger">
                {{Kooboo.text["sqlex.module"]["noPrimaryKeyUnedit"]}}
              </h5>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn gray" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/main.js"></script>
<script>
  (function() {
    Kooboo.loadJS([
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbPager.js"
    ]);
    var vm;
    new Vue({
      el: "#app",
      data: function() {
        vm = this;
        return {
          showUnableEditConfirm: false,
          sqlType: Kooboo.getQueryString("sqlType"),
          breads: [
            {
              name: "SITES"
            },
            {
              name: "DASHBOARD"
            },
            {
              name:
                Kooboo.text["sqlex.module"][
                  Kooboo.getQueryString("sqlType").toLowerCase() + ".table"
                ],
              url: koobooModule.recombineUrl(
                koobooModule.getModuleRootPath() + `/index.html`,
                {
                  SiteId: Kooboo.getQueryString("SiteId"),
                  sqlType: Kooboo.getQueryString("sqlType")
                }
              )
            },
            {
              name: Kooboo.getQueryString("table")
            }
          ],
          primaryKey: undefined,
          siteId: Kooboo.getQueryString("SiteId"),
          selectedRows: [],
          model: {}
        };
      },
      computed: {
        createDataUrl: function() {
          var paras = {
            SiteId: vm.siteId,
            table: Kooboo.getQueryString("table"),
            sqlType: vm.sqlType,
            isNewData: "true"
          };
          if (vm.primaryKey) {
            Object.assign(paras, { primaryKey: vm.primaryKey });
          }
          return koobooModule.recombineUrl(
            koobooModule.getModuleRootPath() + "/pages/EditData.html",
            paras
          );
        },
        columnsPageUrl: function() {
          return koobooModule.recombineUrl(
            koobooModule.getModuleRootPath() + "/pages/Columns.html",
            {
              SiteId: this.siteId,
              table: Kooboo.getQueryString("table"),
              from: "Data",
              sqlType: vm.sqlType
            }
          );
        },

        listKeys: function() {
          var keys = [];
          if (this.model.list) {
            this.model.list.forEach(function(item) {
              item.forEach(function(i) {
                if (i.key != "_id" && keys.indexOf(i.key) == -1) {
                  keys.push(i.key);
                }
              });
            });
          }
          return keys;
        },
        list: function() {
          var items = [];
          if (this.model.list) {
            this.model.list.forEach(function(item) {
              var obj = {};
              item.forEach(function(i) {
                obj[i.key] = i.value;
              });
              items.push(obj);
            });
          }
          return items;
        }
      },
      mounted: function() {
        this.getData();
      },
      methods: {
        onDelete: function() {
          if (confirm(Kooboo.text.confirm.deleteItems)) {
            var ids = vm.selectedRows.map(function(o) {
              if (o[vm.primaryKey]) {
                return o[vm.primaryKey];
              }
            });
            koobooModule[vm.sqlType + "Model"]
              .DeleteData({
                tableName: Kooboo.getQueryString("table"),
                values: ids
              })
              .then(function(res) {
                if (res.success) {
                  vm.getData();
                  window.info.done(Kooboo.text.info.delete.success);
                }
              });
          }
        },
        redirectUrl: function(row) {
          var paras = {
            SiteId: vm.siteId,
            id: row[vm.primaryKey],
            table: Kooboo.getQueryString("table"),
            sqlType: vm.sqlType
          };
          if (vm.primaryKey) {
            Object.assign(paras, { primaryKey: vm.primaryKey });
          }
          var url = koobooModule.recombineUrl(
            koobooModule.getModuleRootPath() + "/pages/EditData.html",
            paras
          );
          if (vm.primaryKey) {
            location.href = url;
          } else {
            vm.showUnableEditConfirm = true;
          }
        },
        getData: function(pageNr) {
          koobooModule[vm.sqlType + "Model"]
            .Data({
              table: Kooboo.getQueryString("table"),
              pageNr: pageNr || 1
            })
            .then(function(res) {
              if (res.success) {
                vm.model = res.model;
                vm.primaryKey = vm.model.primaryKey;
              }
            });
        }
      }
    });
  })();
</script>
